/*===============
  global styles
===============*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: var(--clr-fg);
  background-color: var(--clr-bg);
}

.light {
  --clr-bg: #fcfcfc;
  --clr-bg-alt: #fff;
  --clr-fg: #555;
  --clr-fg-alt: #444;
  --clr-primary: #2978b5;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --glow-color: hsl(186 100% 69%);
  --crcl-clr-bg: #fff;
  --crcl-txt-clr: #000;
  --clr-bg-skills: rgba(0, 0, 22, 1);
  --clr-text-skills: #fff;
  --footer-bg: #000;
}

.dark {
  --clr-bg: #000;
  --clr-bg-alt: #2a2f4c;
  --clr-fg: #bdbddd;
  --clr-fg-alt: #cdcdff;
  --clr-primary: #90a0d9;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  --glow-color: hsl(186 100% 69%);
  --crcl-clr-bg: #000;
  --crcl-txt-clr: #fff;
  --clr-bg-skills: rgb(255, 255, 255);
  --clr-text-skills: #000;
  --footer-bg: #000;
}

::-moz-selection {
  background: var(--clr-primary);
  color: var(--clr-bg);
}

::-webkit-selection,
::selection {
  background: var(--clr-primary);
  color: var(--clr-bg);
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  color: var(--clr-fg-alt);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media (max-width: 900px) {
  h1 {
    font-size: 2.6rem;
  }
}

/*===================
  buttons and links
===================*/

.link {
  color: var(--clr-primary);
  padding: 0 0 0.3em 0;
  position: relative;
}

.link:hover {
  color: var(--clr-primary);
}

.link::before {
  content: "";
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--clr-primary);
  /* transition: width 0.2s ease-in; */
  transition: .5s;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}

.link--nav {
  color: var(--clr-fg);
  /* text-transform: lowercase; */
  font-weight: 500;
}

.link--icon {
  color: var(--clr-fg);
  font-size: 1.2rem;
}

.btn {
  display: block;
  padding: 0.8em 1.4em;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: lowercase;
  transition: transform 0.2s ease-in-out;
}

.btn--outline {
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn--outline:focus,
.btn--outline:hover {
  color: var(--clr-bg);
}

.btn--outline:before {
  content: "";
  position: absolute;
  background-color: var(--clr-primary);
  right: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: -1;
  transition: right 0.2s ease-in-out;
}

.btn--outline:hover::before,
.btn--outline:focus::before {
  right: 0;
}

.btn--plain {
  text-transform: initial;
  background-color: var(--clr-bg-alt);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border: 0;
}

.btn--plain:hover {
  transform: translateY(-4px);
}

.btn--icon {
  padding: 0;
  font-size: 1.2rem;
}

.btn--icon:hover,
.btn--icon:focus {
  color: var(--clr-primary);
}

.btn--icon:active {
  transform: translateY(-5px);
}

/*========
  layout
========*/

.just-center {
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
}

.header {
  height: 8em;
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}

main {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

.section {
  margin-top: 5em;
}

.section__title {
  /* text-align: center; */
  margin-bottom: 1em;

  text-transform: uppercase;
}

.nav__list {
  margin-right: 1.5em;
  display: flex;
}

.nav__list-item {
  margin-left: 1.5em;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.nav__hamburger {
  display: none;
  width: 1em;
}

/* .border-rad{
  border-radius: 25px;
  background-color: #23283e;
} */


.container img {
  height: 100%;
  width: 100%;
}



.about {
  flex-direction: column;
  margin-top: 3em;
  padding-bottom: 2em;

}

.about__name {
  color: var(--clr-primary);
  /* font-size: 5.5rem; */
  margin-top: 0.1em;
}
.about__resume-social {
  display: flex;
  align-items: center; /* Align items vertically in the same row */
  margin-top: 10px;
  margin-right: 80px;
}
.resume-margin {
  margin-right: 20px;
}
.skill {
  font-size: 1em;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}

.about__desc,
.about__contact {
  margin-top: 1.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

.column {
  float: left;
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: stretch; /* Ensures columns stretch to the same height */
  flex-wrap: wrap; /* Allows the content to wrap */
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column.left {
  flex: 2;
  padding-right: 20px;
  padding-bottom: 20px;
}

.column.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__image {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .about {
      flex-direction: column;
  }

  .column.left {
      padding-right: 0;
  }

  .column.right {
      flex: none;
      width: 100%;
  }

  .about__image {
      width: 100%;
      height: auto;
      min-height: 300px;
      object-fit: cover;
      margin-top: 1em;
  }
}

.project {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background: #000;
  /* border-radius: 20px; */
}


.skills__list {
  max-width: 450px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list-item {
  margin: 0.5em;
}

.contact {
  flex-direction: column;
}

.footer {
  padding: 3em 0;
  margin-top: 4em;
  text-align: center;
}

.footer__link {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--clr-fg);
}

.scroll-top {
  display: none;
  position: fixed;
  bottom: 1em;
  right: 2em;
  background-color: transparent;
  font-size: 1.8rem;
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 600px) {
  .header {
    height: 6em;
  }

  .section {
    margin-top: 4em;
  }

  .nav__list {
    flex-direction: column;
    padding: 4em 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 5em;
    background-color: var(--clr-bg);
    width: 0;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
  }

  .display-nav-list {
    width: 100%;
  }

  .nav__list-item {
    margin: 0.5em 0;
  }

  .nav__hamburger {
    display: flex;
    margin-left: 0.8em;
  }

  .about {
    align-items: flex-start;
    margin-top: 2em;

  }

  .footer {
    padding: 2em;
    margin-top: 3em;
  }

  .scroll-container {
    display: none;
  }
}


.education {
  margin-top: 2em;
}

.education ul {
  list-style: none;
  padding: 0;
  padding-left: 1em;
  list-style: square;
}

.education li {
  margin-bottom: 2rem;
}

.education h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.education__info {
  color: var(--clr-primary);
  display: flex;
  justify-content: space-between;
}

.education__date {
  font-size: 0.8rem;
  font-style: italic;
}


/* Images Project
.project__1 {
  background-image: url("assets/cas.png");
}

.project__2 {
  background-image: url("assets/tft.png");
}

.project__3 {
  background-image: url("assets/kaching.png");
}

.project__4 {
  background-image: url("assets/typerCat.png");
}

.project__5 {
  background-image: url("assets/kdoro.png");
}

.project__1, .project__2, .project__3, .project__4, .project__5 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.gradient-text {
  background-color: #f3ec78;
  background-image: linear-gradient(to right, #8a58eb, #37cffc, #37cffc);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/*** <--- CIRCLE STYLES ---> ***/
.wrap-circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background: transparent;
}

.circle-container {
  padding: 1rem 3rem;
  /* background-color: #000; */
  
}
.circle {
  position: relative;
  padding: 2rem 1rem;
  width: 100px;
  height: 100px;
  margin: 0.5rem;
  border-radius: 50%;
  background: #caeefc;
  overflow: hidden;
}
.circle.per-0 { background-image: conic-gradient(#35d0fe 0%, #dedede 0); }
.circle.per-5 { background-image: conic-gradient(#35d0fe 5%, #dedede 0); }
.circle.per-10 { background-image: conic-gradient(#35d0fe 10%, #dedede 0); }
.circle.per-15 { background-image: conic-gradient(#35d0fe 15%, #dedede 0); }
.circle.per-20 { background-image: conic-gradient(#35d0fe 20%, #dedede 0); }
.circle.per-25 { background-image: conic-gradient(#35d0fe 25%, #dedede 0); }
.circle.per-30 { background-image: conic-gradient(#35d0fe 30%, #dedede 0); }
.circle.per-35 { background-image: conic-gradient(#35d0fe 35%, #dedede 0); }
.circle.per-40 { background-image: conic-gradient(#35d0fe 40%, #dedede 0); }
.circle.per-45 { background-image: conic-gradient(#35d0fe 45%, #dedede 0); }
.circle.per-50 { background-image: conic-gradient(#35d0fe 50%, #dedede 0); }
.circle.per-55 { background-image: conic-gradient(#35d0fe 55%, #dedede 0); }
.circle.per-60 { background-image: conic-gradient(#35d0fe 60%, #dedede 0); }
.circle.per-65 { background-image: conic-gradient(#35d0fe 65%, #dedede 0); }
.circle.per-70 { background-image: conic-gradient(#35d0fe 70%, #dedede 0); }
.circle.per-75 { background-image: conic-gradient(#35d0fe 75%, #dedede 0); }
.circle.per-80 { background-image: conic-gradient(#35d0fe 80%, #dedede 0); }
.circle.per-85 { background-image: conic-gradient(#35d0fe 85%, #dedede 0); }
.circle.per-90 { background-image: conic-gradient(#35d0fe 90%, #dedede 0); }
.circle.per-95 { background-image: conic-gradient(#35d0fe 95%, #dedede 0); }
.circle.per-100 { background-image: conic-gradient(#35d0fe 100%, #dedede 0); }

.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background: var(--crcl-clr-bg);
  border-radius: 50%;
  /* font-size: 1.85em; */
  font-weight: 300;
  color: var(--crcl-txt-clr);
}

.glowing-btn {
  position: relative;
  background: none;
  box-shadow: 0px 0px 0.8em 0px transparent;
}

.glowing-btn:hover {
  box-shadow: 0px 0px 2em 0px var(--glow-color);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
/* skills section starts */
.skills {
  /* background-color: #2a2f4c; */
  /* margin-left: -4em; */
  
}

.skills .heading span {
  color: rgb(55, 215, 255);
}
.skills .container {
  max-width: 1100px;
  color: #fff;
  border-radius: 1rem;
  width: 100%;
  margin: auto;
  margin-top: 2rem;
}
.skills .container .row {
 
  justify-content:  space-between;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  grid-column-gap: 6.7em;
  grid-row-gap: 3em;
}
.skills .container .bar {
  margin-bottom: 15px;
  align-items: center;
  padding: 5px;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
  background: var(--clr-bg-skills);
  transition: 0.2s;
}
.skills .container .bar:hover {
  box-shadow: 0 15px 20px rgba(0, 2, 68, 0.6) !important;
}
.skills .container .bar .info {
  color: var(--clr-text-skills);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.skills .container .bar .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.skills .container .bar .info .skill-icon {
  max-height: 50%;
  max-width: 50%;

}
/* skills media queries starts*/
@media screen and (max-width: 600px) {
  .skills .container {
    padding: 0;
    margin: 0;
  }
  .skills .container .row {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    padding: 2rem 0.2rem 2rem 0.2rem;
    gap: 1rem;
  }
  .skills .container {
    margin-top: 5px;
    width: 100%;
  }
}
/* skills media queries ends*/
/* skills section ends */


.projects-section {
  /* justify-content: space-between; */
}

.projects-section h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.projects-container {
  justify-content:  space-between;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-column-gap: 6em;
  grid-row-gap: 3em;
  
  
}

.project {
  /* border-radius: 1em; */
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-width: 800px;
  text-align: left;
}

.project img {
  width: 100%;
  height: auto;
  display: block;
}

.project h2 {
  font-size: 1.5em;
  margin: 20px 20px 7px;
  color: #444;
}

.project p {
  font-size: 1em;
  margin: 0 20px 20px;
  color: #444;
}

.icon-container {
  background:transparent;
  display: inline-flex;
  gap: 10px; /* Adjust the gap between icons */
  position: absolute;
  top: 10px; /* Adjust the position as needed */
  right: 10px; /* Adjust the position as needed */
}

.icon-link {
  text-decoration: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-link:hover {
  background-image: linear-gradient(to bottom right, #8a59eb, #35cffe, #de82ac);
}

.icon-link i {
  font-size: 40px; /* Adjust the icon size as needed */
}

.icon-link .github,
.icon-link .website {
  background: transparent;
  width: 25px;
  height: 25px;
}

.about__contact ul {
  display:flex;
  margin:0;
  padding:0;
}

.about__contact ul li {
  list-style:none;
  margin:0 30px;
  margin-bottom: 50px;
}

.about__contact ul li a .fa {
  color: #262626;
  background: transparent;
  line-height:37px;
  transition: .5s;
  padding-right: 14px;
}

.about__contact ul li a span {
  font-size: 0.8em;
  padding:0;
  margin:0;
  position:absolute;
  top: 10px;
  color: #262626;

  transition: .5s;
}

.about__contact ul li a {
  text-decoration: none;
  display:absolute;
  display:block;
  width:50px;
  height:40px;
  background-image: linear-gradient(to bottom right, #57a0f7, #a4dbf5);
  text-align:left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0,0);
  transition:.5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}
.about__contact ul li a:before {
  content: '';
  position: absolute;
  top:10px;
  left:-20px;
  height:100%;
  width:20px;
  background-image:linear-gradient(to bottom, #57a0f7, #6da7ef);
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}
.about__contact ul li a:after {
  content: '';
  position: absolute;
  bottom:-20px;
  left:-10px;
  height:20px;
  width:100%;
  background-image: linear-gradient(to bottom right, #57a0f7, #6ba5eb);
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

.about__contact ul li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

.about__contact ul li:hover .fa {
  color:#fff;
}

.about__contact ul li:hover span {
  color:#fff;
}

.about__contact ul li:hover:nth-child(1) a{
  background: #3b5998;
}
.about__contact ul li:hover:nth-child(1) a:before{
  background: #365492;
}
.about__contact ul li:hover:nth-child(1) a:after{
  background: #4a69ad;
}

.about__contact ul li:hover:nth-child(2) a{
  background: #00aced;
}
.about__contact ul li:hover:nth-child(2) a:before{
  background: #097aa5;
}
.about__contact ul li:hover:nth-child(2) a:after{
  background: #53b9e0;
}

.about__contact ul li:hover:nth-child(3) a{
  background: #af3ebe;
}
.about__contact ul li:hover:nth-child(3) a:before{
  background: #982ca6;
}
.about__contact ul li:hover:nth-child(3) a:after{
  background: #ac7bb2;
}

.about__contact ul li:hover:nth-child(4) a{
  background: #e4405f;
}
.about__contact ul li:hover:nth-child(4) a:before{
  background: #d81c3f;
}
.about__contact ul li:hover:nth-child(4) a:after{
  background: #e46880;
}

/* Footer Styles */
.footer {
  background: var(--footer-bg);
  padding: 30px 0;
  overflow: hidden;
  text-align: center;
}

.footer-container {
  
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social-icons {
  display: flex;
  gap: 24px;
}

.social-icon {
  color: #9CA3AF;
  font-size: 24px;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #4B5563;
}

.footer-text-container {
  font-size: 16px;
  color: #9CA3AF;
}


/* Responsive styles */
@media (max-width: 768px) {
  #footer p {
      font-size: 12px;
  }
}


.tech-stack {
  margin: 20px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tech-button {
  padding: 5px 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  font-size: 14px;
}

.tech-button:hover {
  background-color: #0056b3;
}
